*{
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: #bdbdbd;

  font-family: Arial, Helvetica, sans-serif;
}
.suhu-style {
  font-size: 20px;
  font-family: math;
  font-style: italic;
}

/* css header start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.navbar > img {
  height: 50px;
  margin-left: 30px;
  margin-right: 10px;
}
/* css header end */

/* main start */
.main {
  display: flex;
  justify-content: center;
}

.box-satu {
  text-align: center;
  border-radius: 10px;
  height: 600px;
  width: 600px;
  margin: 40px;
  background-color: #fff;
  box-shadow: 0 12px 12px 12px rgb(0, 0, 0, 0.3);
}
.box-dua {
  text-align: center;
  border-radius: 10px;
  height: 600px;
  width: 600px;
  margin: 40px;
  background-color: #fff;
  box-shadow: 0 12px 12px 12px rgb(0, 0, 0, 0.3);
}

.btn {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 9%;
}

.form-btn {
  border: none;
  padding: 8px;
  box-sizing: border-box;
  width: 100px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.form-btn-konversi:hover {
  background-color: rgb(72, 214, 100);
}
.form-btn-reset:hover {
  background-color: rgb(214, 72, 72);
}

textarea {
  width: 400px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
input {
  width: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.container-satu {
  padding-top: 20px;
}
.container-dua {
  padding-top: 20px;
}
.container-tiga {
  padding-top: 20px;
}
/* main end */

/* footer start */
.footer {
  /* height: 90px; */
  padding: 5px;
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  background-color: #fff;
}

footer p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.paragraf-link {
  padding-top: 10px;
}

a:hover {
  color: red;
}
/* footer end */

@media screen and (max-width: 1000px) {
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
